
/*a.list-group-item {
    color: #fff;
    background-color: #fff;
    border-style: none;
}

a.list-group-item.active {
    color: #333;
    background-color: #f2dca5;
    border-color: #edcf83;
}
*/

/*.profil{
	margin-top: 115px;
	margin-left: 170px;
}

.fm {
	background-color: #fff;
	padding:30px;
	margin-bottom: 100px; 
	border-radius: 20px;
}

.form-group{
	margin: 0px 50px 0px 10px;
}

.avatar{
	width: 100px;
	height: 100px;
	margin-bottom: 30px; 
}

.btn{
	color: #ffb400;
	border: 20%;
}

*/