html{
	font-family: serif;
}

.profil{
	margin-top: 100px;
}

.fm {
	background-color: #fff;
	padding:30px;
	margin-top: 50px;
	margin-bottom: 100px; 
	border-radius: 20px;
}

.form-group{
	margin: 0px 50px 0px 10px;
}

.avatar{
	width: 150px;
	height: 150px;
	margin-bottom: 30px; 
}

