html{
    font-size: 60%;
    font-family: serif;
    display: block;
}

body{
    margin-left: 50px;
    margin-right: 50px;
    font-family: sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: auto;
}

.container-content{
    background: #fff;
    box-shadow: 4px 4px 22px 0px rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    margin-right: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.up-file{
    padding-top: 20px;
}

.avatar{
    width: 40%;
}

.btn.btn-ctm{
    background-color: #daa520;
    color: #fff;

}