	.container-content{
    background: #fff;
    box-shadow: 4px 4px 22px 0px rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    margin-right: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

	.avatar 
	{
		
		width: 40%;
	}

	.btn.btn-success{
    background-color: #daa520;
    color: #fff;
	}