html{
    font-size: 60%;
    font-family: serif;
    display: block;
}

body{
    margin-left: 50px;
    margin-right: 50px;
    font-family: sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: auto;
}


.container-side{
    background: #fff;
    min-height: 300px;
    padding-top: 20px;
    padding: 15px;
    margin-right: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 300px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

a.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
}

a.list-group-item.active {
    color: #333;
    background-color: #f2dca5;
    border-color: #edcf83;
}

a.list-group-item.active:hover {
    color: #333;
    background-color: #f2dca5;
    border-color: #edcf83;
}

a i.sps {
    padding-right: 10px;
}

